* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(kullan.jpg);
    background-position: center;
}

.box {
    width: 360px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 30px 10px 20px 10px;
    margin: 8% auto 30px auto;
    border-radius: 30px;
    background-image: url(https://images.pexels.com/photos/3109850/pexels-photo-3109850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
}

.screen {
    width: 95%;
    display: flex;
    box-sizing: border-box;
    height: 50px;
    border-radius: 30px;
    background-color: white;
}

.entry {
    margin: auto 18px 7px auto;
    font-size: 22px;
    font-weight: bold;
    color: rgb(75, 0, 128);
    word-break: break-all;
}


.digit {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEDED;
    color: #090580;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 5px;

    transition: all 0.09s;
}

.digit:hover {
    cursor: pointer;
    box-shadow: #090580 2px 2px 18px 3px;
    text-shadow: #090580 0px 0px 3px;
}

.digit:active {
    cursor: pointer;
    box-shadow: #E57C23 2px 2px 18px 3px;
    text-shadow: #E57C23 0px 0px 3px;
    scale: 0.9;
}
.digitA {
    cursor: pointer;
    box-shadow: #E57C23 2px 2px 18px 3px;
    text-shadow: #E57C23 0px 0px 3px;
    scale: 0.9;
}

.operator {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E57C23;
    color: #F8F0E5;
    font-size: xx-large;
    border-radius: 5px;
    transition: all 0.09s;
}

.operator:hover {
    cursor: pointer;
    box-shadow: #E57C23 2px 2px 18px 5px;
    text-shadow: #E57C23 0px 0px 3px;
}

.operator:active {
    cursor: pointer;
    box-shadow: #090580 2px 2px 18px 3px;
    text-shadow: #090580 0px 0px 3px;
    scale: 0.8;
}

.operatorA {
    cursor: pointer;
    box-shadow: #090580 2px 2px 18px 3px;
    text-shadow: #090580 0px 0px 3px;
    scale: 0.8;
}

.delete {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090580;
    color: #EEEDED;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 5px;
    transition: all 0.09s;
}

.delete:hover {
    cursor: pointer;
    box-shadow: grey 2px 2px 18px 5px;
    text-shadow: #090580 0px 0px 3px;
}

.deleteA {
    cursor: pointer;

    box-shadow: #E57C23 2px 2px 18px 3px;
    text-shadow: #E57C23 0px 0px 3px;
    scale: 0.8;
}

.delete:active {
    cursor: pointer;

    box-shadow: #E57C23 2px 2px 18px 3px;
    text-shadow: #E57C23 0px 0px 3px;
    scale: 0.8;
}

.others {
    width: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: xx-large;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #0F2C59;
    color: #F8F0E5;
    transition: all 0.09s
}


.others:hover {
    cursor: pointer;
    box-shadow: red 2px 2px 18px 5px;
    text-shadow: red 0px 0px 3px;
}

.othersA {
    cursor: pointer;
    background-color: green;
    box-shadow: white 2px 2px 18px 3px;
    text-shadow: white 0px 0px 3px;
    scale: 0.8;
}

.others:active {
    cursor: pointer;
    background-color: green;
    box-shadow: white 2px 2px 18px 3px;
    text-shadow: white 0px 0px 3px;
    scale: 0.8;
}


footer {
    font-size: x-large;
    font-weight: bold;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.47);
    width: max-content;
    color: #090580;
    text-shadow: #090580 10px 10px 10px;
}