*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

.box{
    border: 2px solid white;
    width: 360px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 20px 0px 10px 0px;
    margin: 8% auto 30px auto;
}

.screen{
    border: 2px solid white;
    width: 90%;
    display: flex;
    box-sizing: border-box;
}

.entry{
margin: auto 10px 7px auto;
}


.digit,.operator{
    border: 2px solid white;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete{
    width: 154px;
    border: solid white 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    text-align: center;
}
